{% extends "base.html" %}
{% block title %}Сотрудники{% endblock %}
{% block content %}
<style>
    .table thead th { color:  black; font-size: 12px; text-transform: uppercase; letter-spacing: .05em; border-bottom-color: rgb(163, 163, 163); }
    .table td { border-bottom-color: rgb(163, 163, 163); }
</style>
<form class="p-2 row g-2 align-items-end">
    <div class="col-md-7">
        <label class="form-label">Поиск</label>
        <input class="form-control" name="q" value="{{ q }}" placeholder="ФИО, логин, отдел">
    </div>
    <div class="col-md-3">
        <label class="form-label">Статус</label>
        <select class="form-select" name="status">
            <option value="">Все</option>
            {% for item in ['Новый', 'Частично готово', 'Готово', 'Уволен / отлючен', 'Ошибка'] %}
                 <option value="{{ item }}" {% if status == item %} selected {% endif %}>{{ item }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary">Найти</button>
    </div>
</form>
<div class="p-2">
    <table class="table align-middle table-hover rounded">
        <thead><tr><th>Сотрудник</th><th>Роль</th><th>AD</th><th>Почта</th><th>VPN</th><th>1С</th><th>Статус</th></tr></thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td><a class="fw-semibold" href="{{ url_for('employee_detail', employee_id=employee.id) }}">{{ employee.full_name }}</a><div class="small text-secondary"><code>{{ employee.login }}</code> · {{ employee.email }}</div></td>
            <td>{{ employee.role.name }}</td>
            <td>{{ employee.ad_status }}</td>
            <td>{{ employee.mail_status }}</td>
            <td>{{ employee.vpn_status }}</td>
            <td>{{ employee.onec_status }}</td>
            <td>{% include "partials/status_badge.html" with context %}</td>
        </tr>
        {% else %}
        <tr><td colspan="7" class="text-secondary">Сотрудников не найдено.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}