<!DOCTYPE html>
<html>
    <head>
        <title>VS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-3">
            <h2  style="text-align: center;">Добро пожаловать в VS Access Panel</h2>
            <form method="post">
                <div class="mt-5">
                    <label>Логин</label>
                    <input type="text" class="form-control" name="login">
                </div>
                <div class="mt-3">
                    <label>Пароль</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="mt-5 text-center">
                    <button type="submit" class="btn btn-lg btn-primary" style="color: #ffffff;">Войти</button>
                </div>
            </form>
        </div>
    </body>
</html>