{% extends 'base.html' %}
{% block title %}Интеграции{% endblock %}
{% block content %}
<div class="mb-3 mt-3 container">
    <label class="form-label">AD</label>
    <input type="text" class="form-control" name="position" id="position" required >
</div>
<div class="mb-3 mt-3 container">
    <label class="form-label">Mikrotik</label>
    <input type="text" class="form-control" name="position" id="position" required >
</div>
<div class="mb-3 mt-3 container">
    <label class="form-label">Почта</label>
    <input type="text" class="form-control" name="position" id="position" required >
</div>
<div class="mb-3 mt-3 container">
    <label class="form-label">1C</label>
    <input type="text" class="form-control" name="position" id="position" required >
</div>
<div class="mb-3 mt-3 container">
    <label class="form-label">Bitrix</label>
    <input type="text" class="form-control" name="position" id="position" required >
</div>
{% endblock %}