{% extends 'base.html' %}
{% block title %}Пользователи{% endblock %}
{% block content %}
<div class="p-2">
    <table class="table align-middle table-hover rounded">
        <thead><tr><th>ID</th><th>Логин</th><th>Доступ</th></tr></thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.access }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}